{%extends 'base.html' %}

{%load static%}



{%block content%}
<link rel="stylesheet" href="{% static 'css/avia.css' %}">
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Aviabiletlar
							</h1>
							<p class="text-white link-nav"><a href="{% url 'home'%}">Asosiy </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'hotels'%}"> Aviabiletlar</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start destinations Area -->
			<section class="book-form" id="book-form" style = 'margin-top:5px;'>
    			<form action="{% url 'ticket_page' %}" method="get">{% csrf_token %}
        			<div data-aos="zoom-in" data-aos-delay="150" class="inputBox">
            			<label style="color:#29d9d5">Qayerdan?</label>
            			<input type="text" name="fly_from" placeholder="joy nomi" list="programmingLanguages" value="">
						<div class="text-container">

            			<datalist id="programmingLanguages">
							<option value="Samarkand">Samarkand</option>
							<option value="Tashkent">Tashkent</option>
							<option value="Bukhara">Bukhara</option>
							<option value="Namangan">Namangan</option>
							<option value="Urgench">Urgench</option>
							<option value="Termez">Termez</option>
							<option value="Fergana">Fergana</option>
							<option value="Nukus">Nukus</option>
							<option value="Khanabad">Khanabad</option>
							<option value="Andizhan">Andizhan</option>

            			</datalist>
						</div>
        			</div>
					<div data-aos="zoom-in" data-aos-delay="150" class="inputBox">
            			<label style="color:#29d9d5" for="Qayerga">Qayerga</label>
            			<input id="Qayerga" type="text" name="fly_to"  placeholder="joy nomi" list="programmingLanguages2" value="">
						<div class="text-container">

            			<datalist id="programmingLanguages2">
							{% for post in posts%}
									<option value="{{post.fly_to}}">{{post.fly_to}}</option>
                			{%endfor%}
            			</datalist>
						</div>
        			</div>
        			</div>
        			<div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
            			<label style="color:#29d9d5">Qachon?</label>
            			<input type="date" name="date" value="">
					</div>
        			<div data-aos="zoom-in" data-aos-delay="450" class="inputBox">
            			<label style="color:#29d9d5">Qancha Odam?</label>
            			<input type="number" name="per" placeholder="sayohatchilar soni" value="">
        			</div>
        			<input data-aos="zoom-in" data-aos-delay="600" type="submit" value="Izlash" class="btn">
    			</form>
				{% block tick%}

				{% endblock %}
			</section>



			<!-- Start home-about Area -->
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-end">
						<div class="col-lg-6 col-md-12 home-about-left" >
							<h1 style="position:; color:#29d9d5;">
								Aviabiletingizni topa olmadingizmi? <br><br>
								Bemalol bizdan so'rang. <br><br>
								Biz buni siz uchun qilamiz<br><br>
							</h1>

							<a href="{% url 'contact' %}" class="primary-btn text-uppercase">Bog'lanish</a>
						</div>
						<div class="col-lg-6 col-md-12 home-about-right no-padding">
							<img class="img-fluid" src="img/hotels/about-img.jpg" alt="">
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

<script>

    AOS.init({
        duration: 800,
        offset:150,
    });

</script>
{%endblock%}